Source: loud-ubuntu-ansible
Section: admin
Priority: optional
Maintainer: David Krovich <david.krovich@mail.wvu.edu>
Build-Depends: cdbs, debhelper (>= 5.0.0)
Standards-Version: 3.9.5

Package: loud-ubuntu-ansible
Architecture: all
Depends: 
Description: Ansible scripts to provision loud
 Ansible scripts to provision loud.
